/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

/* Typography */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

/* Form Group */
.form-group {
    margin-bottom: 15px;
    width: 100%;
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    /* Ensures padding and border are included in the width */
}

/* Buttons */
button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: 1px solid white;
}

.btn:hover {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-rtn {
    background-color: white;
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-rtn:hover {
    background-color: #007bff;
    color: white;
    border: 1px solid white;
}

/* Layout */
.btn-group {
    display: flex;
    justify-content: center;
}

/* Error and Info Messages */
.error-container {
    background: #ffe5e5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.system-error-message {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.form-error-message {
    color: red;
    font-size: 16px;
    margin-bottom: 10px;
}

.empty-message {
    text-align: center;
    font-size: 16px;
    color: #666;
}

/* Links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
.form-footer {
    text-align: center;
    margin: 15px;
}

.form-footer a {
    color: #007bff;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

.search-footer {
    display: flex;
    justify-content: flex-end;
}